
.menu-item {
  width: 100%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(.25, 0.45, 0.45, 0.95);
    }

    & .content {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &:nth-of-type(1) {
    grid-column: 1/3;
  }
  &:nth-of-type(2) {
    grid-column: 3/5;
  }
  &:nth-of-type(3) {
    grid-column: 5/7;
  }

  &.large {
    height: 380px;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &.left {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &.right {
    grid-column-start: 4;
    grid-column-end: 7;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    position: absolute;
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;

    }
  }
}